<div>
   <app-navbar [text]="title" ></app-navbar>
  <div class="flex overflow-hidden bg-white pt-16">
      <app-sidebar></app-sidebar>
     <div class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10" id="sidebarBackdrop"></div>
     <div id="main-content" class="h-full w-full bg-slate-100 relative overflow-y-auto lg:ml-64">
        <main class="my-5 ">
         <router-outlet />
         <!-- <app-form-template></app-form-template> -->
            <!-- <div class="flex-row mx-auto" >
              <div class="bg-slate-50">
                <button (click)="inc()"
                class="mx-5 px-3 py-2 bg-cyan-600 text-white text-2xl rounded-md hover:bg-cyan-700 " >+</button>
                <span class="text-4xl text-slate-700"  >{{contador}}</span> 
              <app-total [valor]="contador" ></app-total>
                <button (click)="dec()"
                class="mx-5 px-3 py-2 bg-cyan-600 text-white text-2xl rounded-md hover:bg-cyan-700">-</button>
            </div>
             <div *ngIf="contador === 0" class=" bg-yellow-400">
              <span class=" " >El contador no puede ser negativo</span>
             </div>
             <div class="flex flex-row">
              <ul class="basis-1/2" > 
                <li>{{colores[0]}}</li>
                <li>{{colores[1]}}</li>
                <li>{{colores[2]}}</li>
                <li>{{colores[3]}}</li>
  
               </ul>
               <ul class="basis-1/2">
                <li *ngFor="let color of colores" >{{color}}</li>
               </ul>
             </div>
             
             
            </div>
 -->
          
        </main>
       <!--  <footer class="bg-white md:flex md:items-center md:justify-between shadow rounded-lg p-4 md:p-6 xl:p-8 my-6 mx-4">
         
        </footer> -->
      
     </div>
  </div>

</div>



